#nav {
    margin: 0px;
    color: red;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    margin-bottom: 50px;
    background-color: pink;

}

.inactive {
    color: #fff;
    text-decoration: none;
}

.active {
    color: red;
    text-decoration: none;
  }