.wedding{
    float: right;
    padding: 10px;
}

.card {
    width: 33%;
    height: 800px;
    margin: 10%;
}

.card p {
    font-size: 25px;
}
.rowC {
    display:flex; 
    flex-direction:row;
}

.media {
    height: 300px;
}


.pool {
    float: left;
    padding: 10px;
}

p{
    font-size: 45px;
    display: block;
}


* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    display:inline-block;
    /* float: left; */
    width: 500px;
    padding: 80px;
  }

  .rates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #bef1e9;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #fef2f2;
    color: black;
    font-size: 25px;
  }

  .rates li {
      color: #1f1c1c;
      background-color: #fef2f2;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #bef1e9;
    font-size: 20px;
    color: black
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #72b6c7;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none !important;
    font-size: 18px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)

  }
  .mainBtn {
    display:inline-block;
  }
  
  /* Change the width of the three columns to 100% 
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }