.wedding{
    float: right;
    padding: 10px;
}

.card {
    width: 33%;
    height: 800px;
    margin: 10%;
}

.card p {
    font-size: 25px;
}

.media {
    height: 300px;
}

.left-transition {
    
        width: 100px;
        height: 100px;
        background-color: red;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden; 
      
    }
    
    .left-transition.show {
      opacity: 1;
      visibility: visible; 
    }
table.thead tr td th {
    color: red;
}

.pool {
    float: left;
    padding: 10px;
}

p{
    font-size: 45px;
    display: block;
}

table {
    font-size: 35px;
    margin: auto;
}