.wrapper {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: #72b6c7;
    border-radius: 75px;
    opacity: 0.5;
    border: 10px solid red;
}
